html, body{
	padding: 0px;
	margin: 0px;
	font-size: 14px;
}
nav{
	width: 100%;
	background-color: rgba(121, 114, 108, 1);
}
h1{
	color: #5B5B5B;
}
.menu{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.menu-item{
	display: inline-block;
	padding: 15px 20px;
	color: white;
	text-decoration: underline;
	font-size: 1.3rem;
}
.menu-item:hover{
	cursor: pointer;
	background-color: rgba(91, 90, 77, 1);
}
.row{
	margin: 0px;
	padding: 0px;
}
.padding-top{
	padding-top: 10px;
}
.search{
	max-width: 200px;
	width: 100%;
}
.page{
	padding: 20px 50px;
}
.list{
	font-size: 1.2rem;
	color: #5B5B5B;
	line-height: 2rem;
}
.list-item-value{
	font-weight: bold;
}
.selecting-tickets-widget{
	padding: 15px;
	border: 1px solid #eee;
	border-radius: 4px;
}
.row-places{
	padding: 3px;
	margin-bottom: 4px;
	width: 100%;
}
.row-places > span{
	margin-right: 5px;
}
.place{
	padding: 6px 12px;
	margin: 0px 2px;
	display: inline-block;
	border: 1px solid #eee;
	border-radius: 4px;
	font-size: 0.9rem;
}
.place:hover{
	background-color: #d9534f;
	color: white;
	cursor: pointer;
}
.place-selected{
	background-color: #d9534f;
	color: white;
}
.hightlighted-row{
	color: #d9534f;
}
.ticket>span:hover{
	cursor: pointer;
}
.film{
	display: inline-block;
	margin-bottom: 10px;
	margin-left: 10px;
	width: 24%;
	min-width: 200px;
}
.card-img-top{
	width: 100%;	
}
.card-text{
	max-height: 100px;
	white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}
.date-input{
	padding: 10px;
}


#dropZone {    
    color: #555;
    font-size: 18px;
    text-align: center;    
    
    width: 400px;
    padding: 15px 0;
    margin: 50px auto;
    
    background: #eee;
    border: 1px solid #ccc;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#dropZone.hover {
    background: #ddd;
    border-color: #aaa;
}

#dropZone.error {
    background: #faa;
    border-color: #f00;
}

#dropZone.drop {
    background: #afa;
    border-color: #0f0;
}
.separator{
	height: 5px;
	width: 100%;
}


.searchbox{
	position: relative;
}
.search-results{
	background-color: white;
	position: absolute;
	top: 110%;
	max-width: 200px;
	border-radius: 4px;
	list-style: none;
	padding: 0px;
	margin: 0px;
	width: 100%;
	box-shadow: 0px 0px  5px #eee;
}

.search-result{
	display: block;
	padding: 4px 8px;
	cursor: pointer;
}
.search-result:hover{
	background-color: #eee;
}
.search-result:first-child{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.search-result:last-child{
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}